@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" >Welcome to the ETB Case Project</h1>
    <hr />
    <h2 style="text-decoration:underline">
        Technologies I used in the project : 
    </h2>
    <hr />
    <h3>
        C#, .NET Core 7, EF Core (Code First Approach).MSSQL, jQuery ,Ajax ,Sweet Alert , Bootstrap , N-Tier
        Architecture, MSSQL, AutoMapper , FluentValidation, X.PagedList
    </h3>
    <hr />
    <h2 style="text-decoration:underline">
        Design Patterns :
    </h2>
    <h3>
        Repository Design Pattern,Unit Of Work Design Pattern
    </h3>
    <hr />
    <h2 style="color:deepskyblue">Designed in accordance with SOLID principles</h2>
</div>
